body {
  margin:0;
  font-family: "Open Sans", sans-serif;
}

label {
  display: inline-block;
  width: 100px;
}

input {
  width: 500px;
  padding: 5px;
  font-size: 16px;
}

button {
  font-size: 16px;
  padding: 5px;
}

header {
  background: #00A9CE;
  padding: 3em;
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

content {
  display:flex;
  align-items:center;
  justify-content:center;
  height: 35vh;
}

#register {
  display:block;
  align-items:center;
  text-align:center;
}

h1, h2 {
  vertical-align: middle;
  margin: 0;
  display:block;
  text-align: center;
}

h1 {
  color: white;
  font-size: 48px;
}

h2 {
  font-weight: 300;
  color: rgba(255,255,255, 0.8)
}

h3 {
  font-weight: normal;
  color: #666;
  font-size: 24px;
  text-align: center;
}

.black {
  color: black;
}

#balance {
  color: black;
}

.hint {
  color: #666;
}

hr {
  border-color: #fafafa;
}

label {
  color: #666;
  text-align: right;
  margin-right: 0.5em;
}
button {
  background: #00A9CE;
  color: rgba(255,255,255, 0.9);
  padding: 1em;
  border-radius: 5px;
  border: none;
  min-width: 180px;  
  text-transform: capitalize;

}