body {
  margin: 0;
  font-family: "Helvetica Neue", "Open Sans", sans-serif;
  color:#5C5F63;
}

button {
  font-size: 16px;
}

header {
  background: #00A9CE;
  padding: 3em;
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40vh;
}

#register {
  display: block;
  align-items: center;
  /* text-align: center; */
}

h1,
h2 {
  vertical-align: middle;
  margin: 0;
  display: block;
  text-align: center;
}

h1 {
  color: white;
  font-size: 48px;
}

h2 {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8)
}

h3 {
  font-weight: normal;
  color: #666;
  font-size: 24px;
  text-align: center;
}

.black {
  color: black;
}

#balance {
  color: black;
}

.hint {
  color: #B6B9BD;
}

button {
  background: #00A9CE;
  color: rgba(255, 255, 255, 0.9);
  border-radius: 100px;
  border: none;
  min-width: 180px;
  height: 48px;
  text-transform: capitalize;
}

button:hover {
  background: #0094B5;
}


/* NEW STYLES */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
  height: 80px;
}

nav #logo {
  font-size: 24px;
  color: #FFFFFF;
}

nav #logo em {
  font-weight: 100;
}

nav #menu ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-content: center;
  padding: 0;
  margin-right: -20px;
}

nav #menu ul li {
  align-self: center;
  padding: 20px;
}

nav a {
  opacity: 0.8;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
}

nav a:hover {
  opacity: 1;
}

.button-white {
  background: #FFFFFF;
  border: 1px solid #00A9CE;
  border-radius: 100px;
  padding: 8px 32px;
  color: #00A9CE;
  opacity: 1;
}

.button-white:hover {
  background: #fafafa;
}

.button-blue {
  background: #00A9CE;
  border: 1px solid #00A9CE;
  border-radius: 100px;
  padding: 8px 32px;
  color: #ffffff;
  opacity: 1;
}

.button-blue:hover {
  background: #0094B5;
}

section {
  background-image: linear-gradient(-1deg, #00D4E9 0%, #00A9CE 100%);
  height: 90vh;
}

h1 {
  font-size: 72px;
  color: #FFFFFF;
  font-weight: 200;
  margin-top: 20px;
  margin-bottom: 40px;
  text-transform: lowercase;
}

aside {
  background: #FFFFFF;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.10);
  display: block;
  margin: auto;
  padding: 40px 80px;
  width: 600px;
  border-radius: 5px;
}

.hidden {
  display: none;
}

.center {
  text-align: center;
}

input[type=text] {
  background: #FFFFFF;
  border: 1px solid #B6B9BD;
  border-radius: 4px;
  height: 38px;
  width: 100%;
  margin: 8px auto;
  font-size: 16px;
  padding: 0 10px 0 10px;
  box-sizing: border-box;
}

input[type=text]:focus {
  border-color: #00A9CE;
}


/* input[type=radio] {
  width:24px;
  height:24px;
} */

.banner-images {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 40px;
}

.banner-images div div {
  display: flex;
}

.banner-images label {
  text-align: left;
}

label {
  font-size: 14px;
  color: #5C5F63;
}

.submit-button {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: auto;
}

#address {
  font-family: "Courier New", Courier, monospace;
  display: block;
  background: rgba(182, 185, 189, 0.20);
  border-radius: 100px;
  color: #5C5F63;
  padding: 16px 32px;
  font-weight: 600;
  text-align: center;
}

hr {
  border: 1;
  height: 1px;
  border-color: #fafafa;
}

aside hr {
  margin: 40px -80px;
}

textarea#button_html {
  background: rgba(182, 185, 189, 0.10);
  border: 1px solid #B6B9BD;
  padding: 10px;
  font-size: 14px;
  width: 100%;
  line-height: 150%;
  box-sizing: border-box;
  margin-bottom:40px;
}

.success {
  padding: 16px 32px;
  color: white;
  background: #AADB1D;
  margin: -40px -80px 40px -80px;
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-weight:600;
  letter-spacing: 2px;
}